<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddiehl.flashcard"
    android:versionCode="1"
    android:versionName="0.01" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ddiehl.flashcard.activities.Activity_Main"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.Activity_ListSelection"
            android:label="@string/title_activity_list_selection" >
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.Activity_LoadListData"
            android:label="@string/title_activity_load_list_data" >
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.QuizSessionController"
            android:label="@string/title_activity_quiz_session_controller" >
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.Activity_Quiz_NativePhonetic"
            android:label="@string/title_activity_quiz_kanji_kana" >
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.Activity_QuizSession_Results"
            android:label="@string/title_activity_activity_quiz_session_results" >
        </activity>
        <activity
            android:name="com.ddiehl.flashcard.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
